.container {
  margin: 50px 119px 100px 119px;
}
.title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36.035px; /* 100.098% */
}
.containerAllInfor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.containerInfor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 247px;
  .imgFounder {
    width: 300px;
    height: 300px;
  }
  .imgAvatar {
    width: 150px;
    height: 150px;
  }
  .textInfor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .nameFounder {
    color: #000;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 36.035px; /* 112.5% */
    margin: 0 !important;
  }
  .inforFounder {
    color: #000;
    font-family: Playfair Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    margin: 5px !important;
  }
  .name {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 36.035px; /* 112.5% */
    margin: 0 !important;
  }
  .infor {
    color: #000;
    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    margin: 5px !important;
    text-align: center;
  }
}
.containerInforFounder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgFounder {
    width: 300px;
    height: 300px;
  }
  .textInfor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .nameFounder {
    color: #000;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 36.035px; /* 112.5% */
    margin: 0 !important;
  }
  .inforFounder {
    color: #000;
    font-family: Playfair Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    margin: 5px !important;
  }
}
