.header-container {
    display: flex;
    align-items: center;
    background-color:blanchedalmond;
    padding: 10px;
    height: 150;
  }
  
  .logo-container {
    flex: 1;
    width: 80px;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav-container {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 40px;
  }
  
  .nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 30px;
    text-decoration: none;
  }
  .nav-list a {
    font-size: 20px;
    padding-right: 30px;
    color: black;
    text-decoration: none; /* Remove underline */
}
  
  .language-search-icons-container {
    display: flex;
    align-items: center;
    padding-right: 30px;
    font-weight: bold;
  }
  
  .language-selector {
    cursor: pointer;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    padding-left: 30px;
  }
  .search-box {
    background-color: aquamarine;
    width: 125px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .searchIcon{
    width: 30px;
    height: 30px;

  }
  .search-box .search-content {
    display: inline; /* Để hiển thị nội dung trên cùng một dòng */
  }
  
  .icon-container {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
  }
  
  /* Add more styles as needed for other elements */
  